{% extends "base.html" %}

{%block content %}
        <div class="flex items-center justify-between">
            <div>
                <h1 class="font-bold text-2xl">Посты</h1>
                <p class="text-sm text-zinc-600">
                Последние публикации пользователей
                </p>
            </div>

            {% if user.is_authenticated %}
                <a
                href="{% url 'post_create' %}"
                class="border-0 bg-black text-white h-10 flex items-center justify-center rounded-lg px-4">Написать пост</a>
            {% endif %}    
        </div>

        {% include "posts/includes/post_cards.html" %}
{% endblock %}